nav {
  display: flex;
  gap: 34px;
  background-color: black;
  color: rgb(224, 26, 26);
}

li {
  list-style: none;
  padding: 23px;
}

a li {
  color: white;
}

* {
  padding: 0;
  margin: 0;
}

.red {
  background-color: rgb(234, 234, 62);
  color: white
}